<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heung.household">

    <application
        android:name=".base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="首页"
            android:screenOrientation="unspecified"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sure.SureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="确认订单"
            android:screenOrientation="unspecified"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".main.HtttpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="修改接口"
            android:screenOrientation="portrait"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".see.SeeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="查看订单"
            android:screenOrientation="unspecified"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".change.ChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:label="修改订单"
            android:screenOrientation="unspecified"
            android:theme="@style/WDYAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>